# Requirements
torch==2.0.1
torchaudio
numpy
matplotlib
scipy
scikit-learn
omegaconf
tqdm
transformers
sentencepiece
torchcrf
pycwt
einops
flashy
boto3
librosa
nnaudio
demucs
tiktoken
joblib
laion-clap
sacremoses
g2pm
g2p-en
threadpoolctl
pyloudnorm
lightning
einx
mysql-connector-python
ffmpeg<5
diffusers
#deepspeed
